In [1]:
import pandas as pd
import numpy as np

In [2]:
hla_data = pd.read_csv("HLA_alleles_RA.csv")

In [3]:
hla_data.drop(labels=[i for i in hla_data.columns if "Unnamed" in i], axis=1, inplace=True)

In [4]:
hla_data

   HLA_Allele                                         four_digit    OR
0   HLA-DRB1                                              *10:01  4.65
1   HLA-DRB1                                              *04:01  4.03
2    HLA-DRB1                    *04:04, *04:05, *04:08, *04:10   3.63
3    HLA-DRB1                                     *01:01, *01:02  2.11
4    HLA-DRB1                                            *09:01   1.82
5    HLA-DRB1                                     *16:01, *16:02  1.58
6    HLA-DRB1                     *04:03, *04:06, *04:07, *04:11  1.29
7    HLA-DRB1     *08:01, *08:02, *08:03, *08:04, *08:06, *14:15  0.83
8    HLA-DRB1                            *14:01, *14:05, *14:07   0.77
9    HLA-DRB1             *11:01, *11:04, *13:05, *14:02, *14:06  0.76
10   HLA-DRB1                                            *01:03   0.71
11   HLA-DRB1                                     *03:01, *03:02  0.67
12   HLA-DRB1             *11:02, *11:03, *13:01, *13:02, *13:04  0.60
13   HLA-DRB1                                             *14:04  0.49
14     HLA-B                             *08101 , *08201, *08202  2.13
15  HLA-DPB1   *02:01,*02:02, *04:01, *05:01,*05:02, *16:01, ...  1.31
16     HLA-A   *1:01, *23:01, *24:02,*24:03,*24:04, *24:07, *...  0.85
17      HLA-C                                              *6:02  1.00
18      HLA-B       *27:02, *27:03,*27:04,*27:05, *27:06, *27:07  1.00

In [5]:
hla_data["HLA_Allele"].replace("*", "_").replace(":", "")

0     HLA-DRB1
1     HLA-DRB1
2      HLA-DRB1
3      HLA-DRB1
4      HLA-DRB1
5      HLA-DRB1
6      HLA-DRB1
7      HLA-DRB1
8      HLA-DRB1
9      HLA-DRB1
10     HLA-DRB1
11     HLA-DRB1
12     HLA-DRB1
13     HLA-DRB1
14       HLA-B
15    HLA-DPB1
16       HLA-A
17        HLA-C
18        HLA-B
Name: HLA_Allele, dtype: object

In [6]:
hla_data['HLA_Allele'] = hla_data['HLA_Allele'].str.strip(' ')

In [7]:
allele_scores = {}
for index, row in hla_data.iterrows():
    #print(row.four_digit)
    for four_digit in row.four_digit.split(","):
        key = row.HLA_Allele.strip(" ").replace("HLA-", '') + four_digit.strip(" ").replace("*0", "_").replace("*", "_").replace(":", "")
        
        allele_scores.update({key:round(np.log(row.OR),2)})

In [8]:
allele_scores

{'DRB1_1001': 1.54,
 'DRB1_401': 1.39,
 'DRB1_404': 1.29,
 'DRB1_405': 1.29,
 'DRB1_408': 1.29,
 'DRB1_410': 1.29,
 'DRB1_101': 0.75,
 'DRB1_102': 0.75,
 'DRB1_901': 0.6,
 'DRB1_1601': 0.46,
 'DRB1_1602': 0.46,
 'DRB1_403': 0.25,
 'DRB1_406': 0.25,
 'DRB1_407': 0.25,
 'DRB1_411': 0.25,
 'DRB1_801': -0.19,
 'DRB1_802': -0.19,
 'DRB1_803': -0.19,
 'DRB1_804': -0.19,
 'DRB1_806': -0.19,
 'DRB1_1415': -0.19,
 'DRB1_1401': -0.26,
 'DRB1_1405': -0.26,
 'DRB1_1407': -0.26,
 'DRB1_1101': -0.27,
 'DRB1_1104': -0.27,
 'DRB1_1305': -0.27,
 'DRB1_1402': -0.27,
 'DRB1_1406': -0.27,
 'DRB1_103': -0.34,
 'DRB1_301': -0.4,
 'DRB1_302': -0.4,
 'DRB1_1102': -0.51,
 'DRB1_1103': -0.51,
 'DRB1_1301': -0.51,
 'DRB1_1302': -0.51,
 'DRB1_1304': -0.51,
 'DRB1_1404': -0.71,
 'B_8101': 0.76,
 'B_8201': 0.76,
 'B_8202': 0.76,
 'DPB1_201': 0.27,
 'DPB1_202': 0.27,
 'DPB1_401': 0.27,
 'DPB1_501': 0.27,
 'DPB1_502': 0.27,
 'DPB1_1601': 0.27,
 'DPB1_1901': 0.27,
 'DPB1_2301': 0.27,
 'DPB1_3401': 0.27,
 'A_101': -0.16,
 'A_2301': -0.16,
 'A_2402': -0.16,
 'A_2403': -0.16,
 'A_2404': -0.16,
 'A_2407': -0.16,
 'A_2410': -0.16,
 'A_2601': -0.16,
 'A_2603': -0.16,
 'A_2608': -0.16,
 'A_2901': -0.16,
 'A_2902': -0.16,
 'A_3001': -0.16,
 'A_3002': -0.16,
 'A_3004': -0.16,
 'A_3601': -0.16,
 'A_8001': -0.16,
 'C_602': 0.0,
 'B_2702': 0.0,
 'B_2703': 0.0,
 'B_2704': 0.0,
 'B_2705': 0.0,
 'B_2706': 0.0,
 'B_2707': 0.0}